<h1>Favorite Shows</h1>

<table>
  <thead>
    <tr>
      <th>Channel</th>
      <th>Show</th>
      <th>Time</th>
      <th> </th>
    </tr>
  </thead>

  <tbody>
    <% @shows.each do |show| %>
      <tr>
        <td><%= show.channel.name %></td>
        <td><%= show.name %></td>
        <td><%= show.start_time.to_s(:default_format) %></td>
        <td><%= link_to 'remove from favorites', remove_to_favorite_show_path(show.id), method: :post  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
